.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.mapDiv {
  height: 40vh;
  width: 100%;
}
.controlDiv {
  height: 50vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}


@media(min-width: 500px) {

  .container {
    /* display: flex; */
    height:90vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
    
  .mapDiv {
    height: 90vh;
    width: 50%;
  }
    
  .controlDiv {
    width: 50%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .buttonFrame {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
}
