.container {
  display: flex;
  justify-content: space-between;
}
  
.mapDiv {
  height: 100vh;
  width: 40%;
}
  
.controlDiv {
  width: 60%;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonFrame {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
